*{
    padding: 0px;
    margin: 0px;
}
body{
    
    background-image: url('../static/images/186.jpg');
   
}
.about{
    margin: 30px;
    padding: 5px;
}
.about h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about p{
    text-align: center;
    padding: 3px;
    color:black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.items{
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgb(0, 0, 0.6);
}
.items img{
    width: 43px;
}
.items h3{
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.items hr{
    width: 46px;
    height: 3px;
    background-color: black;
    border: none;
    margin: 0 auto;
}
.items p{
    margin-top: 20px;
}
.items:hover{
    background-color: #5fbff9;
}
.items:hover img,
.items:hover h3,
.items:hover p{
    color: white;
}
.items  hr:hover{
    color: black;
}
.items:hover img{
    transform: translateY(-20px);
}
.items:hover img,
.items:hover hr,
.items:hover h3{
    transition: all 400ms ease-in-out;
}
