{% extends 'navbar.html'%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {%block content%}
    <link rel="stylesheet" href="{% static 'login1.css'%}">
    <div class="sign">
        <div class="card">
            <div class="inner-box" id="card ">
                <div class="back">
                    <h2>REGISTER BUSINESS</h2>
                    <form action="" method="POST" action="{% url 'business'%}">
                        {% csrf_token %}
                        {{forma.as_p}}
                        <button type="submit" class="btn1">Register Business</button>
                    </form>
                   
                </div> 
            </div>
        </div>
    </div>
    {%endblock%}
    
    
</body>
</html>