{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<footer>
	<div class="footer">
		<div class="in-footer">
			<div class="rows">
				<div class="cols">
					<h3>corner shop</h3>
					<ul>
						<li><a href="#">about us</a></li>
						<li><a href="#">contact us</a></li>
						<li><a href="#">our services</a></li>
						<li><a href="#"> our team</a></li>
					</ul>
				</div>
				<div class="cols">
					<h3>Get help</h3>
					<ul>
						<li><a href="">FAQ</a></li>
						<li><a href="">delivery</a></li>
						<li><a href="">order staus</a></li>
						<li><a href="">payment status</a></li>
					</ul>
				</div>
				<div class="cols">
					<h3>product categories</h3>
					<ul>
						<li><a href="">electronics</a></li>
						<li><a href="">men's corner</a></li>
						<li><a href="">women's corner</a></li>
						<li><a href="">many more</a></li>
					</ul>
				</div>
				<div class="cols">
					<h3> follow us</h3>
					<div class="icon-links">
						<a href=""><img src="/static/images/facebook.png" alt="" width="50px"></a>
						<a href=""><img src="/static/images/instagram.png" alt="" width="50px"></a>
						<a href=""><img src="/static/images/twitter.png " alt="" width="45px"></a>
						<a href=""><img src="/static/images/whatsapp.png" alt="" width="50px"></a>
					</div>
				</div>
			</div>
			<hr>
			<div class="Copyright">
				<p>Copyright &2023 Dsigned By GROUP 7</p>
			</div>
		</div>
	</div>
</footer>
