<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Set Up Your Shop</title>
    
</head>
<body>
    <div class="container">
        <h1>Set Up Your Shop</h1>

        {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Shop">
        </form>
    </div>
</body>
</html>
