{% extends 'navbar.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {%block content%}
    <link rel="stylesheet" href="{% static 'login2.css'%}">
    <div class="sign">
        <div class="card">
            <div class="inner-box" id="card ">
                <div class="back">
                    <h2>Update_profile</h2>
                    <form action="" method="POST" action="{% url 'update_user'%}">
                        {% csrf_token %}
                        {{user_form.as_p}}
                        <button type="submit" class="btn1">Update_profile</button>
                    </form>
                    <br><br>
                    <a href="/update_password">Update_password</a>
                    
                </div> 
            </div>
        </div>
    </div>
    {%endblock%}
    
    
</body>
</html>